$font-stack: "Courier New", Georgia, Helvetica;
$primary-color: white;

body {
  font-family: 100% $font-stack;
  color: $primary-color;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

figure {
  border: thick #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

img {
  display: flex;
  justify-content: center;
  width: 80%;
  align-self: center;
}

figcaption {
  background-color: #222;
  color: #fff;
  font-family: $font-stack;
  padding: 3px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fas {
  font-size: 4em;
  // align-self: center;
}

.carousel-appear {
  opacity: 0;
}
.carousel-appear-active {
  opacity: 1;
  transition: all 200ms ease-out;
}

.carousel-enter {
  opacity: 0;
}
.carousel-enter-active {
  opacity: 1;
  transition: all 200ms ease-out;
}

.carousel-exit {
  opacity: 1;
}
.carousel-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}